src/qtd_dashboard_nodered.json
[
    {
        "id": "b5af51ed.68447",
        "type": "tab",
        "label": "QTD",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2bee063.4e6ed8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Eclipse",
        "broker": "mqtt.eclipse.org",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9833553e.53cb98",
        "type": "ui_group",
        "z": "",
        "name": "CPU",
        "tab": "1de82e72.045f5a",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1850e0ab.ffc91f",
        "type": "ui_group",
        "z": "",
        "name": "TDC7201",
        "tab": "1de82e72.045f5a",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "1de82e72.045f5a",
        "type": "ui_tab",
        "z": "",
        "name": "Van De Graaff Generator",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fbb14f0.21477b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "af4e26e4.cbb858",
        "type": "ui_group",
        "z": "",
        "name": "Storage",
        "tab": "1de82e72.045f5a",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a18950a1.abc8d8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d8f4cad3.f936",
        "type": "ui_group",
        "z": "",
        "name": "Voltage",
        "tab": "1de82e72.045f5a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "858c3f8.9d0534",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "CPU Temp",
        "topic": "QTD/VDGG/CPU/cpu_temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "29be8b3c.36afdc",
                "7044a5cf.cbcf54"
            ]
        ]
    },
    {
        "id": "29be8b3c.36afdc",
        "type": "ui_gauge",
        "z": "b5af51ed.68447",
        "name": "CPU Temp Gauge",
        "group": "9833553e.53cb98",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "e3cc7601.d18568",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "Batch results string",
        "topic": "QTD/VDDG/tdc7201/batch",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "684cf7c.27cad88",
                "b5d2f20.791b01"
            ]
        ]
    },
    {
        "id": "167d9572.7e4a8b",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "TDC7201 Measurements",
        "group": "1850e0ab.ffc91f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "measurements",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#323232",
            "#8c0000",
            "#1ed01e",
            "#bcbc00",
            "#d85600",
            "#ff0808",
            "#ff80ff",
            "#814eff",
            "#0000ff"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 830,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b5d2f20.791b01",
        "type": "ui_text",
        "z": "b5af51ed.68447",
        "group": "1850e0ab.ffc91f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Results",
        "label": "Last Batch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 740,
        "wires": []
    },
    {
        "id": "7044a5cf.cbcf54",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "Temp chart",
        "group": "9833553e.53cb98",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for temperature data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#2c2ca0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "28285b45.46e5fc",
        "type": "function",
        "z": "b5af51ed.68447",
        "name": "Format for pie chart",
        "func": "msg.payload = [\n        {\n            \"series\": [ \"X\", \"Y\" ],\n            \"data\": [\n                msg.payload\n            ],\n            \"labels\": [\"0 pulses\",\"1 pulse\",\"2 pulses\",\"3 pulses\",\"4 pulses\",\"5 pulses\",\"No calibration\",\"INT1 fall timeout\",\"TRIG1 fall timeout\",\"INT1 early\",\"TRIG1 rise timeout\",\"START_MEAS active\",\"TRIG1 active\",\"INT1 active\"]\n        }\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 680,
        "wires": [
            [
                "167d9572.7e4a8b"
            ]
        ]
    },
    {
        "id": "684cf7c.27cad88",
        "type": "json",
        "z": "b5af51ed.68447",
        "name": "Convert to array",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "28285b45.46e5fc",
                "c98e7631.b95dc8"
            ]
        ]
    },
    {
        "id": "63b1c091.da5138",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "RPi Model",
        "topic": "QTD/VDDG/CPU/Model",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "d6103a11.fc8a78"
            ]
        ]
    },
    {
        "id": "d6103a11.fc8a78",
        "type": "ui_text",
        "z": "b5af51ed.68447",
        "group": "9833553e.53cb98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Model",
        "label": "Model",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "d83e7341.b5615",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "RPi OS",
        "topic": "QTD/VDDG/CPU/os_name",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "fd1048cc.64dc58"
            ]
        ]
    },
    {
        "id": "fd1048cc.64dc58",
        "type": "ui_text",
        "z": "b5af51ed.68447",
        "group": "9833553e.53cb98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "OS",
        "label": "OS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "279e3008.ad4f48",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "Driver",
        "topic": "QTD/VDGG/tdc7201/driver",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "cca75358.b12e9"
            ]
        ]
    },
    {
        "id": "cca75358.b12e9",
        "type": "ui_text",
        "z": "b5af51ed.68447",
        "group": "1850e0ab.ffc91f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Driver",
        "label": "Python3 tdc7201 driver version",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 290,
        "y": 600,
        "wires": []
    },
    {
        "id": "c98e7631.b95dc8",
        "type": "function",
        "z": "b5af51ed.68447",
        "name": "Successes",
        "func": "msg.payload = msg.payload[2]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "b2f320db.1fd3a8"
            ]
        ]
    },
    {
        "id": "b2f320db.1fd3a8",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "Valid",
        "group": "1850e0ab.ffc91f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Valid measurements per batch",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for measurement data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ac00",
            "#2c2ca0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 770,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "630391c8.8ca9f",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "Root Disk Space",
        "topic": "QTD/VDGG/CPU/root",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a6bd68ea.191fa8"
            ]
        ]
    },
    {
        "id": "a6bd68ea.191fa8",
        "type": "ui_gauge",
        "z": "b5af51ed.68447",
        "name": "Root Filesystem Gauge",
        "group": "af4e26e4.cbb858",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "32GB SD Card Used",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "844de492.fe6cf8",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "Load avg",
        "topic": "QTD/VDGG/CPU/load",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "df464133.18b8d"
            ]
        ]
    },
    {
        "id": "df464133.18b8d",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "Load avg chart",
        "group": "9833553e.53cb98",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Load Average",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for load average data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000b4",
            "#000000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4cfacc8f.8f5bd4",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "Pulse pairs per second",
        "topic": "QTD/VDDG/tdc7201/p2ps",
        "qos": "0",
        "datatype": "utf8",
        "broker": "a18950a1.abc8d8",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "63eb0c26.cea844",
                "787ef271.048eac"
            ]
        ]
    },
    {
        "id": "787ef271.048eac",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "Pulse pairs chart",
        "group": "1850e0ab.ffc91f",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Pulse pairs / second",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for measurement data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 410,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "885f5628.d031a8",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "Data Disk Space",
        "topic": "QTD/VDGG/CPU/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "3ac305ab.0d399a"
            ]
        ]
    },
    {
        "id": "3ac305ab.0d399a",
        "type": "ui_gauge",
        "z": "b5af51ed.68447",
        "name": "Data Filesystem Gauge",
        "group": "af4e26e4.cbb858",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "256GB USB Drive Used",
        "label": "percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "80",
        "x": 390,
        "y": 500,
        "wires": []
    },
    {
        "id": "63eb0c26.cea844",
        "type": "ui_text",
        "z": "b5af51ed.68447",
        "group": "1850e0ab.ffc91f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Rate Text",
        "label": "Rate",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 880,
        "wires": []
    },
    {
        "id": "7d325e52.58ac9",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "3.3V Rail",
        "topic": "QTD/VDGG/CPU/3v3",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "feb6c5c6.28d9f"
            ]
        ]
    },
    {
        "id": "feb6c5c6.28d9f",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "3.3V chart",
        "group": "d8f4cad3.f936",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "3.3V",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for voltage data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#2c2ca0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 310,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f2b74e40.6e24c8",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "5.0V Rail",
        "topic": "QTD/VDGG/CPU/5v0",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "cff51d8c.91f9f"
            ]
        ]
    },
    {
        "id": "cff51d8c.91f9f",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "5.0V chart",
        "group": "d8f4cad3.f936",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "5.0V",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for voltage data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#2c2ca0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 310,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "4418c0aa.57084",
        "type": "mqtt in",
        "z": "b5af51ed.68447",
        "name": "3.7V Battery",
        "topic": "QTD/VDGG/CPU/3v7",
        "qos": "0",
        "datatype": "auto",
        "broker": "a18950a1.abc8d8",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "d6a1f0d2.4068d8"
            ]
        ]
    },
    {
        "id": "d6a1f0d2.4068d8",
        "type": "ui_chart",
        "z": "b5af51ed.68447",
        "name": "3.7V chart",
        "group": "d8f4cad3.f936",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "3.7V Battery",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "waiting for voltage data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000",
            "#2c2ca0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 310,
        "y": 1120,
        "wires": [
            []
        ]
    }
]